%h1#theAlbum
  Suzie & Matt
  %ol#progress_steps.fullwidth
    %li.complete.one_third
      %span 1. Build my Album
    %li.current.one_third
      %span 2. Confirm Design
    %li.one_third
      %span 3. Checkout

#configure_book
  %h2.step_number
    %span 1
    Build my Album
  / %h3.reset.center A quick step to verify that your files match one of our album sizes.
  / %br
  .large-alerts.hidden
    .large-alert.processing.center_horizontally
      .outer
        .inner
          .icon.spinner
          %article
            %header Please wait, we're making sure your files are the right size&hellip;
          .clear
  .large-alerts.hidden
    / %h3.reset.center A quick step to verify that your files match one of our album sizes.
    / %br
    .large-alert.alert
      .outer
        .inner
          .icon
          %article
            %header
              %strong OOPS!
              Your files don't match any of our album sizes.
            %section
              %p Please return to the upload page to replace the appropriate files
              %button.grey-button Return to upload
          .clear
  .large-alerts
    .large-alert.notice
      %a.dismiss{ href: "#" } [Dismiss]
      .outer
        .inner
          .icon
          %article
            %header
              %strong Excellent!
              Files verified
            %section#print_ready
              %p
                We print all spreads at 300dpi, which makes your album size
                %strong 12" wide by 12" high
                %br
                (When building your album, you'll be able to buy this size as well as these smaller companion sizes: 10"x10", 8"x8")
          .clear

  #configurator
    %form#config_form.one_third{ style: "float:left" }
      %fieldset
        %legend
          Book 1
          %span.qty
            %input{ type: "text", value: "1" }
            %abbr{ title: "Quantity" } Qty:
          /= help_popup "The total number of albums you'd like with this exact configuration.", no_icon: true
          %span.price $425.00
          .clear
        .row
          .fraction.one_third
            %label{ for: "pb_1_size" } Size
            /= help_popup 'The spreads you uploaded match our [12"x12"] size, but you may also choose a scaled down companion size.'
          .fraction.two_thirds.last
            %select{ id: "pb_1_size" }
              %option{ value: "- select -" } - select -
              %option{ value: '' } &darr; SCALEABLE SQUARE &darr;
              %option{ value: 'twelve-twelve', selected: "selected" } 12x12" square ($350)
              %option{ value: 'ten-ten' } 10x10" square ($300)
              %option{ value: 'eight-eight' } 8x8" square ($250)
              %option{ value: '' } &darr; SCALEABLE PORTRAIT &darr;
              %option{ value: 'ten-fifteen' } 10x15 portrait
              %option{ value: 'eight-twelve' } 8x12" portrait
              %option{ value: 'six-nine' } 6x9" portrait
              %option{ value: '' } &darr; SCALEABLE LANDSCAPE &darr;
              %option{ value: 'fifteen-ten' } 15x10" landscape
              %option{ value: 'twelve-eight' } 12x8" landscape
              %option{ value: 'nine-six' } 9x6" landscape
              %option{ value: '' } &darr; NON-SCALEABLE &darr;
              %option{ value: 'fourteen-eleven' } 14x11" landscape
              %option{ value: 'eleven-fourteen' } 11x14" portrait
              %option{ value: 'twelve-nine' } 12x9" landscape
              %option{ value: 'nine-twelve' } 9x12" portrait
              %option{ value: 'ten-eight' } 10x8" landscape
              %option{ value: 'eight-ten' } 8x10" portrait
          .clear

        .row.hidden
          .fraction.one_third
            %label{ for: "pb_1_pages" } Pages
          .fraction.two_thirds.last
            %select{ id: "pb_1_pages" }
              %option{ value: "-select-", selected: "selected" } -select-
              %option{ value: 'fifteen-pages' } 15 Pages
              %option{ value: 'twenty-pages' } 20 Pages
              %option{ value: 'twenty-five-pages' } 25 Pages
              %option{ value: 'thirty-pages' } 30 Pages
              %option{ value: 'thirty-five-pages' } 35 Pages
              %option{ value: 'forty-pages' } 40 Pages
          .clear

        .row
          .fraction.one_third
            %label{ for: "pb_1_leather" } Leather
          .fraction.two_thirds.last
            %select{ id: "pb_1_leather" }
              %option{ value: "-color-", selected: "selected" } -color-
              %option{ value: "leather_color_red" } Red
              %option{ value: "leather_color_grey" } Grey
              %option{ value: "leather_color_brown" } Brown
              %option{ value: "leather_color_black" } Black
          .clear

        .row
          .fraction.one_third
            %label{ for: "pb_1_gilding" }
              %input#pb_1_gilding{ type: "checkbox" }
              %span Gilding
              /= help_popup "Gilding is a classy finishing option on the outside edge of your album's three open sides. To add gilding, please choose from our 3 color options."
          .fraction.two_thirds.last
            %select{ id: "pb_1_gilding_color", disabled: "disabled" }
              %option{ value: "-color-", selected: "selected" } -color-
              %option{ value: "gilding_color_copper" } Copper ($85)
              %option{ value: "gilding_color_silver" } Silver ($85)
              %option{ value: "gilding_color_black" } Black ($85)
          .clear


        .row
          .fraction.one_third
            %label
              %input#toggle_cover_text{ type: "checkbox" }
              %span Cover text
          .fraction.two_thirds.last
            .fraction.one_half
              %select{ id: "pb_1_text_color" }
                %option{ value: "-color-", selected: "selected" } -color-
                %option{ value: "text_color_copper" } Copper
                %option{ value: "text_color_silver" } Silver
                %option{ value: "text_color_black" } Black
                %option{ value: "text_color_blind" } 'blind' (embossed only)
            .fraction.one_half.last
              %select{ id: "pb_1_cover_text_font" }
                %option{ value: "-font-", selected: "selected" } -font-
                %option{ value: "text_font_modern" } Modern font
                %option{ value: "text_font_block" } Block font
            .clear
            %input{ type: "text", id: "pb_1_cover_text_line1", placeholder: "line 1 ($10)" }
            %input{ type: "text", id: "pb_1_cover_text_line2", placeholder: "line 2 ($10)" }
          .clear

        .row
          .fraction.one_third
            %label
              %input#stamping{ type: "checkbox", style: "float: left; margin-right: 5px" }
              %span{ style: "display: block; float: left" }
                Studio
                %br
                Stamping
              /= help_popup "To stamp the album with your studio brand, please choose 'Text' for typing your company name or 'Logo' for stamping your logo. Note: logo stamping requires a one-time custom die purchase, which we will then keep on file for you."
          .fraction.two_thirds.last
            .tabs
              %ul
                %li
                  %a.label{ href: "#text" } Text
                %li
                  %a.label{ href: "#logo" } Logo
              #text
                %p
                  %label{ for: "pb_1_studio_text" } Studio name ($10)
                  %input#pb_1_studio_text{ type: "text", placeholder: "Enter up to 40 characters" }
              #logo
                %p.radio
                  %input#use_my_die{ type: "radio", name: "pb_1_logo_type" }
                  %label.normal{ for: "use_my_die" }
                    %span
                      Use
                      %a#show_my_die{ href: "#" }
                        my on-file die ($10)
                        = image_tag "print/lorensson.png"

                %p.radio
                  %input#buy_new_die_control{ type: "radio", name: "pb_1_logo_type" }
                  %label.normal{ for: "buy_new_die" }
                    %span Buy a custom die ($150)
                  %input#buy_new_die{ type: "file", disabled: "disabled", style: "margin-left: 15px" }
                  %button#remove_die_file.grey-button.small (Remove file)
                %p.small
                  Upload an .EPS file at actual size with your logo in black, and without a background. Max size is 2.25" x 1.25". Suggested size for a square logo: 1"x1" or a horizontal logo: 1.75"x.5" Minimum recommended font size: 18pt.
              .clear
      .clear

    #config_preview.two_thirds.last.relative{ style: "clear:right; float:left" }
      #album_preview.leather_color_grey.twelve-twelve
        #cube
          #front_face
            #cover_text.text_font_modern.text_color_silver
              %span#line-1
              %span#line-2
          #top_face
          #left_face
          #bottom_face
          #bottom_shadow
          #back_face
            .studio_stamping_text
            .studio_stamping_logo
          #right_face
      %nav#flip
        %div
          %span#front_flip.active{ href: "#" } Front
          %span#back_flip{ href: "#" } Back
          / .space
          / %span#zoom.active{ href: "#" } Zoom In
        .clear
    .clear

  .clear{ style: "height: 60px" }
  %p.small.center.one_half{ style: "float:right; margin-right:55px; clear:both; padding: 15px 0; font-style: italic" } This preview is a digital representation of your album only and cannot be considered 100% accurate. All stamping will be appropriately sized in production for the type of text and album size purchased.

  .actions
    .clear
    %a.grey-button{ href: "#" } Cancel
    %a#done_with_books.primary-button.description.right{ href: "#"}
      I'm done
      %small I've added all the books I want
    %span.or - or -
    %a#done_with_books.primary-button.description.right{ href: "#"}
      Add Another
      %small Configure Another Book
    .clear
  .clear


#design_trim_check
  %h2.step_number
    %span 2
    Confirm Design
  %p.fraction.three_fourths{ style: "margin-left:60px; clear:right; line-height:normal" }
    One last look for you to confirm your layout is correct. Verify that your layouts look good within the trim line preview and make sure that all spreads are in sequential order.
  .clear
  #trim_preview
    #trim_image
      = image_tag "trim-sample.jpg"
      .trim
      .fold

    #trim_controller
      %ul#trim_legend
        %li Lines:
        %li.trim Trim
        %li.fold Fold

      .toggle.right.hidden
        %em Show Trim
        %a.active{ href: "#" }
          %div
          %span.current_state_on On
          %span.current_state_off Off

      .center_horizontally
        .outer
          .inner
            %ol#trim_navigation
              %li
                %a.first{ href: "#", title: "First" } &#171;
              %li
                %a.prev{ href: "#", title: "Previous" } &#139;
              %li.current 13/14
              %li
                %a.next{ href: "#", title: "Next" } &#155;
              %li
                %a.last{ href: "#", title: "Last" } &#187;

  .clear
  .actions
    %a#back_to_config.grey-button{ href: "#" } Back
    %div{ style: "float:right; width:270px; clear:right"}
      = link_to "#", id: "trim_proceed", method: :put, class: "primary-button description" do
        Next
        %small Checkout
      .clear
    %div{ style: "float:right; width:270px; clear:none; padding-right: 15px"}
      %input#confirm_trim{ type: "checkbox", name: "confirm_trim", style: "display:block; clear:left; float:left; margin-left:0; margin-top:0" }
      %label.normal{ for: "confirm_trim", style: "display:block; width:auto; clear:none; margin-left:17px; line-height:normal" } Yes! My spreads are in the proper order and I've verified the trim. The design is correct and I'm ready for it to be printed as submitted.
      %p.small#spreads_not_correct{ style: "margin: 10px 0 0 17px" }
        %span
          Spreads not correct?
          = link_to "Return to Layouts", "#"
        /= help_popup "If your design does not look as desired with the required trim or you need to make some final revisions, return to Layouts to make any necessary adjustments.", no_icon: true
      .clear
    .clear


#checkout
  %h2.step_number
    %span 3
    Checkout


  .actions
    %a.grey-button#back_to_trim{ href: "#" } Back
    %a#checkout_submit.primary-button.description.right{ href: "#"}
      Place Order
      %small I've confirmed all details are correct
    .clear
