- content_for(:head) do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery-ui.js"
  = javascript_include_tag "jquery.ui.tabs.js"
  :javascript
    jQuery(document).ready(function($){

      // Make tooltips work
      $(".popup").hide();

      $("#spreads_not_correct span").hover(
        function() {
          $(this).next(".help").children(".popup").fadeIn()
        },
        function() {
          $(this).next(".help").children(".popup").fadeOut()
      });

      $(".help a").hover(
        function() {
          $(this).next(".popup").fadeIn()
        },
        function() {
          $(this).next(".popup").fadeOut()
      });
      $(".qty input").hover(
        function() {
          $(".qty").next(".help").children(".popup").fadeIn()
        },
        function() {
          $(".qty").next(".help").children(".popup").fadeOut()
      });

      // Show the logo when preview link is hovered
      $("#show_my_die img").hide();
      $("#show_my_die").hover(
        function() {
          $("#show_my_die img").fadeIn()
        },
        function() {
          $("#show_my_die img").fadeOut()
      });

      // if user wants to use their die, then copy the logo on the back cover and show it, otherwise hide it
      function toggle_my_die() {
        if ($("#use_my_die").is(":checked")) {
          $(".studio_stamping_logo").show();
          $("#show_my_die img").clone().appendTo("#back_face .studio_stamping_logo").fadeIn().show();
        }
        else {
          $(".studio_stamping_logo").hide();
          $("#back_face .studio_stamping_logo img").fadeOut().remove();
        }
      };
      toggle_my_die();
      $("#use_my_die, #buy_new_die_control").change(toggle_my_die);


      // FAKE THE SUBMIT & BACK BUTTONS TO MAKE TESTING DURING DEV EASIER
      $("#design_trim_check, #checkout").hide();
      $("#configure_book").show();

      $("#trim_proceed, #go_to_checkout").click(function() {
        event.preventDefault();
        $("#checkout").show();
        $("#design_trim_check, #configure_book").hide();
      });

      $("#back_to_config").click(function() {
        event.preventDefault();
        $("#configure_book").show();
        $("#design_trim_check, #checkout").hide();
      });

      $("#back_to_trim, #done_with_books").click(function() {
        event.preventDefault();
        $("#design_trim_check").show();
        $("#checkout, #configure_book").hide();
      });

      // disable the trim page submit button unless tickbox is checked, otherwise enable it
      function enable_trim_submit() {
        if ($("#confirm_trim").is(":checked")) {
          $("#trim_proceed").removeClass("disabled").removeAttr("disabled");
        }
        else {
          $("#trim_proceed").addClass("disabled").attr("disabled", true);
        }
      };
      enable_trim_submit();
      $("#confirm_trim").change(enable_trim_submit);

      // ACTIVATE THE TABS FOR STUDIO STAMPING
      $(".tabs").tabs({
        heightStyle: "content"
      });
      $(".tabs").tabs("disable");

      // WRAP THE FLIPS INTO A REUSABLE FUNCTION, BECAUSE THEY'RE USED ELSEWHERE TOO
      function front_flip() {
        var $Cube = $("#cube")[0];
        $Cube.style.webkitTransform = "rotateY(-35deg)";
        $("#front_flip").addClass("active");
        $("#back_flip").removeClass("active");
      };

      function back_flip() {
        var $Cube = $("#cube")[0];
        $Cube.style.webkitTransform = "rotateY(-180deg)";
        $("#back_flip").addClass("active");
        $("#front_flip").removeClass("active");
      };

      $("#front_flip").click(front_flip);
      $("#back_flip").click(back_flip);

      // IF #LOGO TAB ACTIVATED, FLIP THE PREVIEW TO THE BACK
      $(".tabs").tabs({
          activate: function (event, ui) {
            var active = $('.tabs').tabs('option', 'active');
            back_flip();
          }
        }
      );

      // ENABLE ALL AVAILABLE ALERT DISMISSes
      $("a.dismiss").each(function(i) {
        $(this).click(function() {
          $(this).parents(".large-alert").toggle("height");
          event.preventDefault();
        });
      });

      // GILDING

      // UPDATE THE PREVIEW GILDING COLOR WHEN GILDING DROPDOWN CHANGED
      function gilding_color() {
        var $gilding = $("select#pb_1_gilding_color").val();
        $("#album_preview").removeClass("gilding_color_black gilding_color_silver gilding_color_copper -color-");
        $("#album_preview").addClass($gilding);
      };

      function gilding() {
        if ( $("#pb_1_gilding").is(":checked") ) {
          $("#pb_1_gilding_color").removeAttr("disabled");
          gilding_color();
          $("#trim_preview .trim").removeClass("no_gilding");
          $("#trim_preview .trim").addClass("with_gilding");
        }
        else {
          $("#pb_1_gilding_color").val("-color-");
          $("#pb_1_gilding_color").attr("disabled", true);
          $("#trim_preview .trim").removeClass("with_gilding");
          $("#trim_preview .trim").addClass("no_gilding");
        };
        gilding_color();
      };

      $("#pb_1_gilding").click(gilding);

      $("#pb_1_gilding_color").change(gilding_color);

      gilding();

      // STAMPING

      // hide the studio stamping preview bits until user says they want them
      $(".studio_stamping_text, .studio_stamping_logo").hide();

      // enable/disable the #buy_new_die and help
      function toggle_die_file() {
        if ( $("#buy_new_die_control").is(":checked") ) {
          $("#buy_new_die, #remove_die_file").removeAttr("disabled");
          $("#buy_new_die").parent().next(".small").fadeIn();
          $("#remove_die_file").fadeIn();
        }
        else {
          $("#buy_new_die, #remove_die_file").attr("disabled", true);
          $("#buy_new_die").parent().next(".small").hide();
          $("#remove_die_file").hide();
        };
      };

      // if stamping, enable the tabs & related inputs and flip preview to back, otherwise revert to disabled
      function stamping() {
        var stamping_form = $(".tabs input, .tabs select");
        if ( $("#stamping").is(":checked") ) {
          $(".tabs").tabs("enable");
          stamping_form.removeAttr("disabled");
          toggle_die_file();
          back_flip();
        }
        else {
          $("#buy_new_die").removeAttr("checked");
          stamping_form.attr("disabled", true).removeAttr("checked");
          $(".tabs").tabs("disable");
          toggle_die_file();
          front_flip();
        };
        toggle_my_die();
      };

      stamping();

      $("#stamping").click(stamping);

      toggle_die_file();

      $("#logo :radio").click(toggle_die_file);


      // COVER TEXT

      // hide cover text unless it is enabled with the tickbox
      function toggle_cover_text() {
        var cover_text_controls = $("#pb_1_text_color, #pb_1_cover_text_font, #pb_1_cover_text_line1, #pb_1_cover_text_line2");
        if ( $("#toggle_cover_text").is(":checked") ) {
          cover_text_controls.removeAttr("disabled");
          $("#cover_text").fadeIn();
        }
        else {
          cover_text_controls.attr("disabled", true);
          $("#cover_text").fadeOut();
        }
      };

      toggle_cover_text();

      $("#toggle_cover_text").click(toggle_cover_text);

      // if an 8x8" book is selected, watch the character length and adjust cover text size as necessary using a class, based on which font is being used
      function smaller_font() {
        if ( $("select#pb_1_size").val("eight-eight") ) {
          if ( $("#cover_text").hasClass("text_font_modern") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 20 ) {
              console.log("long name added for 8x8");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x8");
              $("#cover_text").removeClass("long_name");
            }
          }
          else if ( $("#cover_text").hasClass("text_font_block") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 25 ) {
              console.log("long name added for 8x8");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x8");
              $("#cover_text").removeClass("long_name");
            }
          }
        }
        else if ( $("select#pb_1_size").val("eight-ten") ) {
          if ( $("#cover_text").hasClass("text_font_modern") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 20 ) {
              console.log("long name added for 8x10");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x10");
              $("#cover_text").removeClass("long_name");
            }
          }
          else if ( $("#cover_text").hasClass("text_font_block") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 25 ) {
              console.log("long name added for 8x10");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x10");
              $("#cover_text").removeClass("long_name");
            }
          }
        }
        else if ( $("select#pb_1_size").val("eight-twelve") ) {
          if ( $("#cover_text").hasClass("text_font_modern") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 20 ) {
              console.log("long name added for 8x12");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x12");
              $("#cover_text").removeClass("long_name");
            }
          }
          else if ( $("#cover_text").hasClass("text_font_block") ) {
            if ( $("input#pb_1_cover_text_line1").val().length > 25 ) {
              console.log("long name added for 8x12");
              $("#cover_text").addClass("long_name");
            }
            else {
              console.log("long name removed for 8x12");
              $("#cover_text").removeClass("long_name");
            }
          }
        }
      }

      // get the Line 1 text and put it in the Line 1 DIV
      $("input#pb_1_cover_text_line1").keyup(function() {
        var $line1 = $("input#pb_1_cover_text_line1").val();
        $("#line-1").html( $line1 );
        smaller_font();
      });

      // get the Line 2 text and put it in the Line 2 DIV
      $("input#pb_1_cover_text_line2").keyup(function() {
        var $line2 = $("input#pb_1_cover_text_line2").val();
        $("#line-2").html( $line2 );
      });

      // get book size from dropdown and adjust the preview to match it
      $("select#pb_1_size").change(function() {
        var $size = $("select#pb_1_size").val();
        $("#album_preview, #trim_preview").removeClass('twelve-twelve twelve-nine nine-twelve ten-ten eight-eight eight-ten nine-six six-nine ten-eight eleven-fourteen fourteen-eleven fifteen-ten ten-fifteen eight-twelve twelve-eight');
        $("#album_preview, #trim_preview").addClass( $size );
      });

      // FOR NOW, ALL BOOKS WILL SHOW THE SAME THICKNESS (RE: https://basecamp.com/1823259/projects/1148095-ae-physical-book/todos/89859482-choose-page)
      // $("select#pb_1_pages").change(function() {
      //   var $pages = $("select#pb_1_pages").val();
      //   $("#album_preview").removeClass('fifteen-pages twenty-pages twenty-five-pages thirty-pages thirty-five-pages forty-pages');
      //   $("#album_preview").addClass( $pages );
      // });

      // when text color is changed, update the preview
      $("select#pb_1_text_color").change(function() {
        var $color = $("select#pb_1_text_color").val();
        $("#front_face #cover_text").removeClass("text_color_black text_color_silver text_color_copper text_color_blind -color-");
        $("#front_face #cover_text").addClass( $color );
      });

      // when the text font is changed, update the preview
      $("select#pb_1_cover_text_font").change(function() {
        var $font = $("select#pb_1_cover_text_font").val();
        $("#front_face #cover_text").removeClass("text_font_modern text_font_block -font-");
        $("#front_face #cover_text").addClass( $font );
      });

      // when the leather color is changed, update the preview
      $("select#pb_1_leather").change(function() {
        var $leather = $("select#pb_1_leather").val();
        $("#album_preview").removeClass("leather_color_black leather_color_brown leather_color_red leather_color_grey -color-");
        $("#album_preview").addClass( $leather );
      });
    });
